
/* ^BASIC */

/* VARIABLES */

:root {
  --primary:  #003076;
	--secondary: #1e9c39;
	--light: #fffbec;
  --dark: #000000;
  --normal_font: 400;
  --bold_font: 600;
}
  
html {
   box-sizing: border-box;	
   background-color: transparent;
   font-size: 62.5%; 
   height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;  
}

body {
  color: white;
  font-family: 'Lora','Georgia', 'Times', serif ;
  font-weight: var(--normal_font);
  line-height: 165%;
  font-size: 2rem;
  background: url('../image/code_on_screen.jpg') var(--primary) no-repeat center center scroll;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
 
 /* ^HEADINGS */
  h1,
  h2,
  h3 {
    margin: .25rem 0 .35rem;
    font-weight: var(--bold_font);
    text-transform: uppercase;	
    padding: 10px 0; 	 
    text-align: center;
  }
     
 h1 {
    color: #fff;
    font-size: 4.2rem;
    word-spacing: 4px;
    line-height: 145%;
    letter-spacing: 1px;
  }

 h2 {
    font-size: 2.8rem;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
  
  }
  
  h3 {
     font-size: 2.4rem;
    }
     
  small {
      font-size: 1.2rem;
     }

a:link,
a:visited {
 color:  var(--primary);
}

a:hover,
a:focus{
   color: var(--secondary);
   text-decoration: none;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  /* look me up! */
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  opacity: 0.8;
  z-index: 1;
}

.main {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
  height: 100%;
  min-height: 0;
  padding: 20px;
}
/* .main {
  height: 100%;
  min-height: 0;
  width: 35.5rem;
  padding: 20px;
} */

.main_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  opacity: .2;
  transform: skewY(10deg);
  transform-origin: bottom right;
}

.main_content {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  height: 50vh;
  z-index: 10;
  padding-right: 20px;
}

.main_pars {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 2.4rem;
}

.input_group-newsletter {
  display: flex;
  width: 100%;
  margin-left: 3rem;
}

.input_group-newsletter input {
  height: auto;
  font-size: rem;
  padding: 1rem;
  border: 2px solid var(--light);
}

.input_group-newsletter button {
  font-size: 1.6rem;
  font-weight: var(--normal_font);
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 1rem;
  background-color: var(--primary);
  border: 2px solid var(--light);
  color: white;
}

/* social */
.social-icons {
  position: absolute;
  margin-bottom: 2rem;
  right: 3.5rem;
  bottom: 3rem;
  width: auto;
  z-index: 2;
}

.list {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  min-width: 22rem;
}

.list-item {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.list-item > a {
  display: block;
  color: white;
  opacity: .8;
  border-radius: 100%;
  font-size: 6rem;
  line-height: 6rem;
  height: 6rem;
  width: 6rem;
}


@media screen and (min-width: 768px){
  
  h1 {
    font-size: 4rem;
    text-align: left;
    padding-left: 20px;
  }

  .main {
    height: 100%;
    min-height: 0;
    width: 30.5rem;
    padding: 20px;
  }

  .main_bg {
    min-height: 0;
    transform: skewX(-8deg);
    transform-origin: top right;
  }

/* social */

  .social-icons {
    margin: 0;
    position: absolute;
    right: 3.5rem;
    bottom: 3rem;
    width: auto;
  }

  .list {
    margin-top: 0;
    width: auto;
  }

  .list-item {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  .list > li:last-child {
    margin-bottom: 0;
  }

  .list-item > a {
    transition: all 0.2s ease-in-out;
    font-size: 6rem;
    height: 6rem;
    width: 6rem;
  }

  .list-item >  a:hover {
    background-color: var(--primary);
  }


.btn-secondary {
  background-color: var(--light);
  border-color: var(--light);
}

.btn-secondary:active,
.btn-secondary:focus, 
.btn-secondary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.input {
  font-weight: var(--normal_font);
}
  


} /* end media*/

@media screen and (min-width: 1100px){
  .main {
    width: 60%;
  }
}
/* end media */

@media screen and (min-width: 1250px){
  
 .main_content {
   width: 50%; 
 }

h1 {
  font-size: 5rem;
  text-align: center;
}

.input_group-newsletter input,
.input_group-newsletter button {
  text-align: center;
}

.main {
  width: 85.5rem;
 
}

}